<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <h1> Dinosaur Daydream</h1>
    <meta charset="UTF-8"/>
    <title>Dinosaur Nightmares</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{styles.css}"/>
</head>
<body>

<div>ANKYLOSAURUS</div>
<img src ="../static/Images/ankylosaurus.png" th:src="@{Images/ankylosaurus.png}"/>
<div>INDOMINUS REX</div>
<img src ="../static/Images/irex.png" th:src="@{Images/irex.png}"/>
<div>TRICERATOPS</div>
<img src ="../static/Images/JW_triceratops.png" th:src="@{Images/JW_triceratops.png}"/>
<div>VELOCIRAPTOR</div>
<img src ="../static/Images/velociraptor.png" th:src="@{Images/velociraptor.png}"/>



</body>
</html>