<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


    <link rel = "stylesheet" type = "text/css" href ="../static/styles.css" th:href="@{styles.css}"/>
    <h1>Deep Sea Adventures</h1>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<img src ="../static/Images/captbarnacles.png" th:src="@{Images/captbarnacles.png}"/>
<div></div>
<div></div>
<img src ="../static/Images/octonauts.png" th:src="@{Images/octonauts.png}"/>
<div></div>
<div></div>
<img src ="../static/Images/penguin.png" th:src="@{Images/penguin.png}"/>
<div></div>
<div></div>
<img src ="../static/Images/photographer.png" th:src="@{Images/photographer.png}"/>
<div></div>
<div></div>
<img src ="../static/Images/Quasi.png" th:src="@{Images/Quasi.png}"/>
<div></div>
<div></div>
<img src ="../static/Images/Tunip.png" th:src="@{Images/Tunip.png}"/>
<font color = "white">
<p>
    The Octonauts is a British children's television series, produced by Silvergate Media for the BBC channel CBeebies. The series is animated in Ireland by Brown Bag Films but uses British voice actors. The TV series is based on American-Canadian children's books written by Vicki Wong and Michael C. Murphy of Meomi Design Inc.

    The Octonauts follows an underwater exploring crew made up of stylized anthropomorphic animals, a team of eight adventurers who live in an undersea base, the Octopod, from where they go on undersea adventures with the help of a fleet of aquatic vehicles.

    The subject matter is reminiscent of Star Trek and Thunderbirds[1] blended with Jacques Cousteau. Although it is science fiction as regards its technology, the exotic creatures and locations that the crew encounter are real marine animals in their natural habitats.

    <form action="/createPerson?place=doug" method="post">
        Title: <input type="text" name="title" value="" /><br />
        First Name: <input type="text" name="firstname" value="" /><br />
        Middle Name: <input type="text" name="middlename" value="" /><br />
        Last Name: <input type="text" name="lastname" value="" /><br />
        Suffix: <input type="text" name="suffix" value="" /><br />
        <hr />
        Address Line 1: <input type="text" name="addressLine1" value="" /><br />
        Address Line 2: <input type="text" name="addressLine2" value="" /><br />
        City: <input type="text" name="city" value="" /><br />

        State:
        <select name="stateProvinceId">
            <option th:each="state : ${states}" th:value="${state.getStateProvinceId()}" th:text="${state.getName()}">New Jersey</option>
            <!--<option value="2">North Carolina</option>
            <option value="3">Michigan</option>-->
        </select><br/>
        Postal Code: <input type="text" name="postalCode" value="" /><br />


        <button>Go!!!</button>
    </form>

</p>
</font>
</body>
</html>