<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" type = "text/css" href ="../static/styles.css" th:href="@{styles.css}"/>
    <h1>This is for Octopod!!!</h1>
    <meta charset="UTF-8">
    <title>Octopod</title>
    <h1>Octonaughts to your stations!!!</h1>

    <div>
        <span th:text="${person.getFirstname() + ' ' + person.getLastname()}">Fred Smith</span><br />
        <span th:text="${address.getAddressLine1()}">123 Happy St.</span><br />
        <span th:text="${address.getAddressLine2()}"></span><br />
        <span th:text="${address.getCity()}">East Chapel Durham</span>,
        <span th:text="${state.getName()}">WC</span>
        <span th:text="${address.getPostalCode()}">34521</span>



    </div>
</head>
<body>

</body>
</html>